body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    background: darkgray;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    text-align: center;
    width: 100%;
}

.title>h1 {
    font-size: 400%;
    margin: 0;
}

.buttons {
    text-align: center;
    margin-bottom: 30px;
}

.game-wrapper {
    width: 90%;
    height: 80vh;
    background: white;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 8px;
}

.player-stats-wrapper {
    width: 100%;
    height: 15%;
    border-bottom: 3px dotted black;
    background: khaki;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.stats-flex-container {
    display: flex;
    justify-content: space-between;
}

.stats-left {
    width: 15%;
}

.stats-right {
    width: 80%;
}

.player-stats-wrapper>p, .player-stats-wrapper>ul {
    margin: 0;
    padding: 5px;
}

.player-stats-wrapper>.name {
    font-size: 120%;
}

.instructions {
    width: 100%;
    height: 100%;
    margin: auto auto;
    text-align: center;
    font-size: 150%;
}

.toast-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 20px;
}

.image-sources {
    display: none;
}

.mobile-buttons, .mobile-button-row, .arrow-button {
    height: 0;
    color: transparent;
}

ul.stats {
    list-style-type: none;
}

.title-text {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT"100,
        "EHLT"12;
}

@media screen and (max-width: 796px) {
    ul.stats li {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

    .instructions {
        font-size: 100%;
        padding: .5rem;
    }

    .name {
        margin: 0;
    }

    .player-stats-wrapper>p, .player-stats-wrapper>ul {
        padding: 0;
    }

    .mobile-buttons, .mobile-button-row, .arrow-button {
        height: auto;
        color: black;
    }

    .mobile-buttons {
        position: absolute;
        bottom: 10vh;
        right: 10vw;
        width: 80vw;
        margin: 0 auto;
        margin-top: 30px;
    }

    .mobile-button-row {
        display: flex;
        justify-content: center;
    }

    .arrow-button {
        width: 6rem;
        height: 6rem;
        background: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        box-shadow: inset 15px 0px .8rem rgba(50, 50, 50, .5), inset -15px 0px .8rem rgba(50, 50, 50, .5);
    }

    .game-wrapper {
        height: 40vh;
        width: 90vw;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 900px) {}