body {
    min-height: 100vh;
    width: 100vw;
    background: lavender;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    text-align: center;
    width: 100%;
}

.title>h1 {
    font-size: 250%;
    margin: 0;
}

.buttons {
    text-align: center;
    margin-bottom: 30px;
}

.game-wrapper {
    width: 90%;
    height: 80vh;
    background: white;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 8px;
}

.player-stats-wrapper {
    width: 100%;
    height: 15%;
    border-bottom: 3px dotted black;
    background: khaki;
    text-align: center;
}

.stats-flex-container {
    display: flex;
    justify-content: space-between;
}

.stats-left {
    width: 15%;
}

.stats-right {
    width: 80%;
}

.player-stats-wrapper>p, .player-stats-wrapper>ul {
    margin: 0;
    padding: 5px;
}

.player-stats-wrapper>.name {
    font-size: 120%;
}

.start-btn {
    background: lightgreen;
    height: 2.5rem;
    width: 6rem;
    border-radius: 8px;
    box-shadow: inset 0px 0px .5rem rgb(50, 50, 50), 5px 3px 1rem rgb(40, 40, 40);
}

.start-btn:active {
    box-shadow: inset 0px 0px .25rem rgb(50, 50, 50);
}

.instructions {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#game-canvas {
    width: 100%;
    height: 85%;
}

.image-sources {
    display: none;
}

.mobile-buttons {
    display: none;
}

ul.stats {
    list-style-type: none;
}

@media screen and (max-width: 796px) {
    ul.stats li {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

    .name {
        margin: 0;
    }

    .player-stats-wrapper>p, .player-stats-wrapper>ul {
        padding: 0;
    }

    .mobile-buttons {
        display: block;
        position: absolute;
        bottom: 15vh;
        right: 10vw;
        width: 80vw;
        margin: 0 auto;
        margin-top: 30px;
    }

    .mobile-button-row {
        display: flex;
        justify-content: center;
    }

    .arrow-button {
        width: 3rem;
        height: 3rem;
        background: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        box-shadow: inset 15px 0px .8rem rgba(50, 50, 50, .5), inset -15px 0px .8rem rgba(50, 50, 50, .5);
    }

    .game-wrapper {
        height: 40vh;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 900px) {}